{% extends 'base.html.twig' %}

{% block title %}J'ai lu quoi déjà ?
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<header>
		{# <img
				      class="avatar"
				      src="/Applications/MAMP/htdocs/JaiLuQuoi/public/img/png/logo-no-background.png"
				      alt="logo ma bibli"
				    />
				    <img /> #}
		<entete class="entete">
			<p>J'ai lu quoi moi déjà ?</p>
			<p>
				Votre bibliothèque personnelle, avec vos livres lus, des notes, et votre
								        liste d'envie.
			</p>
		</entete>
	</header>

	<body>
		<main>


			<div class="carousel reviews-container">
				{% for review in reviews %}

					<div class="carousel-cell review">
						<img src="{{asset(review.book.cover)}}" class="book"/>
						<p class="nameBook">{{review.book.name}}</p>
						<p class="auteur">{{ review.book.author.firstname ~ ' ' ~ review.book.author.lastname }}</p>
						<p>Note :
							{{ review.note }}</p>
						<p>Date de lecture :
							{{ review.readingDate ? review.readingDate|date('F Y') : 'Non spécifiée' }}</p>
						<a class="buttonBook" href="{{path('app_review_show', {id:review.id})}}">Détail</a>
					</div>

				{% endfor %}

				<a class="buttonBook btnBook " href="{{ path('app_review_new') }}">Nouvelle lecture</a>

				<a class="buttonBook btnBook " href="{{ path('app_review_index') }}">Toutes mes lectures</a>


			</div>

		</div>

		<section class="ListeEnvies">

			<h2>
				<span>Liste d'envies</span>
			</h2>
			<div class="carousel">
				{% for book in wishlist %}
					<div class="carousel-cell">
						<img src="{{asset(book.cover)}}" class="book"/>
						<p class="nameBook">{{book.name}}</p>
						<p class="auteur">{{ book.author.firstname ~ ' ' ~ book.author.lastname }}</p>
						<p>
							{{book.releaseYear|date('M Y')}}
						</p>
						{# Ajoutez ici les liens ou actions que vous souhaitez #}
						<a class="buttonBook" href="{{path('app_book_show', {id:book.id})}}">Je craque !</a>
						<form action="{{ path('app_book_removeWishlist', {id: book.id}) }}" method="POST">
							<button type="submit" class="buttonBook">Retirer à ma liste d'envies :(</button>
						</form>

					</div>


				{% endfor %}
			</section>
		</body>
	</body>
</main>{% endblock %}
