{% extends 'base.html.twig' %}

{% block title %}J'ai lu quoi déjà ?{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<header>
    {# <img
      class="avatar"
      src="/Applications/MAMP/htdocs/JaiLuQuoi/public/img/png/logo-no-background.png"
      alt="logo ma bibli"
    />
    <img /> #}
    <entete class="entete">
      <p>J'ai lu quoi moi déjà ?</p>
      <p>
        Votre bibliothèque personnelle, avec vos livres lus, des notes, et votre
        liste d'envie.
      </p>
    </entete>
  </header>

  <body>
    <main>



      <div class="carousel reviews-container">
        {% for review in reviews %}

        <div class="carousel-cell review">
          <img src="{{asset(review.book.cover)}}" class="book" />
          <p class="nameBook">{{review.book.name}}</p>
          <p class="auteur">{{ review.book.author.firstname ~ ' ' ~ review.book.author.lastname }}</p>
            <p>Note : {{ review.note }}</p>
            <p>Date de lecture : {{ review.readingDate ? review.readingDate|date('F Y') : 'Non spécifiée' }}</p>
        </div>
        {% endfor %}

                <a class="buttonBook BtnCenter" href="{{ path('app_review_new') }}">Nouvelle lecture</a>

{# 
<div class="carousel">
        <div class="carousel-cell">
          <img src="img/books/neruda.jpg" class="book" />
          <p class="nameBook">{{book.name}}</p>
          <p class="auteur">{{author.firstname author.lastname}}</p>
          <p class="dateLecture">lu en janvier 2020</p>
          <a href="#" class="buttonBook">Voir plus</a>
        </div> #}

{# 

      <div class="carousel">
        <div class="carousel-cell">
          <img src="img/books/neruda.jpg" class="book" />
          <p class="nameBook">J'avoue que j'ai vécu</p>
          <p class="auteur">Pablo Neruda</p>
          <p class="dateLecture">lu en janvier 2020</p>
          <a href="#" class="buttonBook">Voir plus</a>
        </div>
        <div class="carousel-cell">
          <img src="img/books/kilometrezero.jpg" class="book" />
          <p class="nameBook">Kilomètre zéro</p>
          <p class="auteur">Maud Ankaoua</p>
          <p class="dateLecture">lu en mars 2024</p>
          <a href="#" class="buttonBook">Voir plus</a>
        </div>
        <div class="carousel-cell">
          <img src="img/books/johnfante.jpg" class="book" />
          <p class="nameBook">Demande à la poussière</p>
          <p class="auteur">John Fante</p>
          <p class="dateLecture">lu en février 1960</p>
          <a href="#" class="buttonBook">Voir plus</a> #}
          <!-- </div>
         <div class="carousel-cell">
           <img src="/img/books/mouradwinter.jpg" class="book" />
           <p class="nameBook">L'Amour c'est surcoté</p>
           <p class="auteur">Mourad Winter</p>
           <p class="dateLecture">Mars 2021</p>
           <a href="#" class="buttonBook">Voir plus</a>
         </div>
         <div class="carousel-cell">
           <img src="/img/books/neruda.jpg" class="book" />
           <p class="nameBook">J'avoue que j'ai vécu</p>
           <p class="auteur">Pablo Neruda</p>
           <p class="dateLecture">Mars 2021</p>
           <a href="#" class="buttonBook">Voir plus</a>
         </div>
         <div class="carousel-cell">
           <img src="/img/books/romaingary.jpg" class="book" />
           <p class="nameBook">La promesse de l'aubecu</p>
           <p class="auteur">Romain Gary</p>
           <p class="dateLecture">Mars 2021</p>
           <a href="#" class="buttonBook">Voir plus</a>
         </div>
         <div class="carousel-cell">
           <img src="/img/books/rsiblesamours.jpg" class="book" />
           <p class="nameBook">Risibles amours</p>
           <p class="auteur">Milan Kundera</p>
           <p class="dateLecture">Mars 2021</p>
           <a href="#" class="buttonBook">Voir plus</a>
         </div> -->
        </div>
       
      </div>

      <section class="ListeEnvies">

        <h2><span>Liste d'envies</span></h2>
        <article class="EnvyList">
          <div class="carousel-cell">
            <img src="img/books/martineden.jpg" class="book" />
            <p class="name">Martin Eden</p>
            <p class="auteur">Jack London</p>
            <a href="#" class="buttonBook">Je craque !</a>
          </div>
          <div class="carousel-cell">
            <img src="img/books/mouradwinter.jpg" class="book" />
            <p class="name">L'amour c'est surcôté</p>
            <p class="auteur">Mourad Winter</p>
            <a href="#" class="buttonBook">Je craque !</a>
          </div>
        </article>
        
                </section>
    </main>
{% endblock %}
