{% extends 'base.html.twig' %}

{% block title %}{{book.name}}{% endblock %}

{% block body %}
    <h1>{{book.name}}</h1>

   <div class="carousel">
        <div class="carousel-cell">
          <img src="{{asset(book.cover)}}" class="book" />
          <p class="nameBook">{{book.name}}</p>
          <p class="auteur">{{ author.firstname ~ ' ' ~ author.lastname }}</p>
          {# <p class="dateLecture">{{book.date}}</p> #}
          {# {% if  %} #}
          <a href="{{path('app_review_new', {key: book.id})}}" class="buttonBook">Ajouter à ma bibliothèque</a>
          {# <a href="#" class="buttonBook">Ajouter à ma liste d'envies</a> #}
        </div>

    <a href="{{ path('app_book_index') }}">Retour à la liste</a>

    {# <a href="{{ path('app_book_edit', {'id': book.id}) }}">edit</a> #}

    {# {{ include('book/_delete_form.html.twig') }} #}
{% endblock %}
