{% extends 'base.html.twig' %}

{% block title %}
	{{ book.name }}
{% endblock %}

{% block body %}
	<h1>{{ book.name }}</h1>

	<div class="carousel">
		<div class="carousel-cell">
			<img src="{{ asset(book.cover) }}" class="book"/>
			<p class="nameBook">{{ book.name }}</p>
			<p class="auteur">{{ author.firstname ~ ' ' ~ author.lastname }}</p>

			{% set bookInLibrary = false %}
			{% for userReview in user.reviews %}
				{% if book == userReview.book %}
					{% set bookInLibrary = true %}
				{% endif %}
			{% endfor %}

			{% set bookInWishlist = false %}
			{% for userWishlist in user.wishlist %}
				{% if book == userWishlist %}
					{% set bookInWishlist = true %}
				{% endif %}
			{% endfor %}

			{% set hasReviewed = false %}
			{% for review in user.reviews %}
				{% if review.book == book %}
					{% set hasReviewed = true %}
				{% endif %}
			{% endfor %}
			{% if hasReviewed %}
				<a href="{{ path('app_review_show', {id: review.id}) }}" class="buttonBook">Voir ma revue de
					{{ book.name }}</a>
			{% endif %}
			{% if not hasReviewed %}
				<a href="{{ path('app_review_new', {id: book.id}) }}" class="buttonBook btnAddToLibrary">Déjà lu ?</a>
			{% endif %}
			{% if bookInWishlist %}
				<form action="{{ path('app_book_removeWishlist', {id: book.id}) }}" method="POST" class="text-center">
					<button type="submit" class="buttonBook">Retirer de ma liste d'envies !</button>
				</form>
			{% else %}
				<form action="{{ path('app_book_addWishlist', {id: book.id}) }}" method="POST" class="text-center">
					<button type="submit" class="buttonBook">Ajouter à ma liste d'envies !</button>
				</form>
			{% endif %}
		</div>
	</div>

	<a class="btn btn-info p-2" href="{{ path('app_book_index') }}">Retour à la liste</a>
{% endblock %}
