{% extends 'base.html.twig' %}

{% block title %}Modifier mon avis sur {{review.book.name}}{% endblock %}

{% block body %}
    <h1>Modifier mon avis sur {{review.book.name}}</h1>

    {{ include('review/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-info" href="{{ path('app_review_index') }}">Retour à mes lectures</a>

    {{ include('review/_delete_form.html.twig')}}

    
{% endblock %}
