{% extends 'base.html.twig' %}

{% block title %}Mes lectures{% endblock %}

{% block body %}


    <h1>Mes lectures</h1>

        <a class="buttonBook BtnCenter" href="{{ path('app_review_new') }}">Nouvelle lecture</a>

      <div class="carousel reviews-container">
        {% for review in reviews %}

        <div class="carousel-cell review">
          <img src="{{asset(review.book.cover)}}" class="book" />
          <p class="nameBook">{{review.book.name}}</p>
          <p class="auteur">{{ review.book.author.firstname ~ ' ' ~ review.book.author.lastname }}</p>
            <p>Note : {{ review.note }}</p>
            <p>Date de lecture : {{ review.readingDate ? review.readingDate|date('F Y') : 'Non spécifiée' }}</p>
        						<a class="buttonBook" href="{{path('app_review_show', {id:review.id})}}">Détail</a>

        </div>
        {% endfor %}

{% endblock %}
